body {
    font-family: Arial, sans-serif;
    background-color: #0d0202;
    text-align: center;
    margin-top: 100px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #eb2b2b;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #d5c72a;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.time-left {
    color: #999;
    font-size: 12px;
}
